        </div>
        <div class="e-container-bottom">
            <div class="e-waveform-top">
                <div class="e-waveform-top-bars"></div>
            </div>
            <div class="e-waveform-bottom">
                <div class="e-waveform-bottom-bars"></div>
            </div>
            <div class="e-waveform-indicator"></div>
            <div class="e-bottom-container">
                <div class="e-bottom-left">
                    left
                </div>
                <div class="e-bottom-middle">
                    <div class="e-bottom-btn small" id="e-play-back">
                        <i class="fas fa-backward-step"></i>
                    </div>
                    <div class="e-bottom-btn" id="e-play-pause" data-play="false">
                        <i class="fas fa-play"></i>
                    </div>
                    <div class="e-bottom-btn small" id="e-play-forward">
                        <i class="fas fa-forward-step"></i>
                    </div>
                </div>
                <div class="e-bottom-right">
                    right
                </div>
            </div>
        </div>
    </div>
    <script src="../static/scripts/e-play.js"></script>
</body>
</html>